<p style="margin-top: 80px">List of images</p>

<div class="col-md-9">
    <div class="thumbnail">
        <img class="img-responsive" src="/uploads/<%=user.image%>">
        <div class="caption-full">
            <h4><%= user.name %></h4>
                    <h4><%= user.email %></h4>
                    <h4><%= user.phone %></h4>
            <h4><%= user.message %></h4>
        </div>
    </div>
</div>

<p>
    <a href="/aryan1993" class="btn btn-primary">Back to image listing</a>
</p>